<?xml version="1.0" encoding="utf-8" ?>

<module>
  <assemblies>
    <add assembly="Site" />
  </assemblies>
  
  <dojoModules>
    <add name="app" path="Scripts" />
  </dojoModules>
  
  <clientModule initializer="app/editors/chartinitializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
      <add dependency="epi" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>
