<div style="background: #b8c0c5; width:100%; height:100%;">
    <style>
        ul.chartlist {
            height: auto;
            width: auto;
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: auto;
            min-height:400px;
            float: left;
            margin-top:30px;
        }

        ul.chartlist li.dojoDndItem {
            text-align: center;
            vertical-align: middle;
            font-size: 40px;
            float: left;
            list-style: none;
            margin: 0px;
            margin-left: 30px;
            margin-bottom: 30px;
            padding: 0px;
            width: 300px;
            height: 300px;
            border: 3px solid #F7542B;
            position:relative;
            background-color:white;
            padding:20px;
        }

        .remove-chart {
            margin-left:302px;
        }

        .dojoDndItemOver {
            background-color: #EDEDED;
            cursor: pointer;
        }

        .dojoDndItemSelected {
            color: #EDEDED;
        }

        .dojoDndItemAnchor {
            background-color: #EDEDED;
        }

        .dojoDndItemOver .dojoDndItemSelected {
            background-color: #EDEDED;
        }

        .dojoDndItemOver .dojoDndItemAnchor {
            background-color: #EDEDED;
        }

        .dojoDndItemBefore {
            border-left: 3px solid deepskyblue !important;
        }

        .dojoDndItemAfter {
            border-right: 3px solid deepskyblue !important;
        }

        .dojoDndAvatar {
            border: 1px solid #CCCCCC;
            width: 50px;
            height: 50px;
        }

        .dojoDndAvatarHeader {
            background-color: grey;
        }

        .dojoDndAvatarItem {
            background-color: #FFFFFF;
            border-bottom: 1px solid #CCCCCC;
        }

        .dojoDndAvatarItem .itemText {
            font-size: 120%;
        }

        .chart {
            width: 300px;
            height: 300px;
        }

        .dojoDndAvatarItem td li.dojoDndItem .chart {
            display: none;
        }
    </style>

    <div id="container">
        <ul id="chartlist" class="container chartlist"></ul>
    </div>
</div>