<div>
    <div data-dojo-attach-point="toolbarArea"/>

    <div class="epi-documentHeader">
        <span class="chart-container-title">Drop your charts in the container</span>
    </div>

    <div id="container" data-dojo-type="dojox.layout.ScrollPane">
        <ul id="chartlist" class="container chartlist">
            <li>
                <div data-dojo-attach-point="actionsContainer" class="epi-content-area-actionscontainer dojoDndTarget dojoDndContainer">
                    <span id="uniqName_0_29" widgetid="uniqName_0_29">You can drop charts here.</span>
                </div>
            </li>
        </ul>
    </div>
</div>
