<div id="charts-viewer-list">
    <style>
        .charts-menu-list li {
            padding-left: 20px;
            width: 100%;
            border-bottom: 1px solid #EDEDED;
            padding-top:5px;
            padding-bottom:5px;
            cursor:pointer;
        }
        .charts-menu-list li .list-icon {
            width:16px;
            display:inline-block
        }
        .dojoDndItemSelected, .dojoDndItemAnchor {
            background: none,url("images/gradients/selected_item.svg"),#c7d500 url("images/gradients/Gradients.png") 0 -2300px repeat-x;
        }
        .dojoDndAvatar {
            border: 1px solid #CCCCCC;
            width: 50px;
            height: 50px;
        }

        .dojoDndAvatarHeader {
            background-color: grey;
        }

        .dojoDndAvatarItem {
            background-color: #FFFFFF;
            border-bottom: 1px solid #CCCCCC;
        }

        .dojoDndAvatarItem .itemText {
            font-size: 120%;
        }
    </style>
    <ul id="charts-menu-list" class="charts-menu-list container"></ul>
</div>